<%- include('partials/head.ejs') %>

<!-- navbar partials -->
<%- include('partials/navbar.ejs') %>
    <div class="container">
        <h1>All the cats</h1>
        <ul>
            <% for(let cat of cats) {%>
                <li>
                    <%= cat %>
                </li>
                <% } %>
        </ul>
    </div>
    <!-- Footer partials -->
    <%- include('partials/footer.ejs') %>