<%- include('partials/head.ejs') %>

        <!-- navbar partials -->
        <%- include('partials/navbar.ejs') %>
        <div class="container">

            <h1>HOME PAGE <%= %>
            </h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellat, natus quam. Accusantium labore quam nesciunt
                delectus eaque ipsum saepe, facilis, vitae, voluptatem
                fugiat corporis ipsa totam ea sequi in nam.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum fugiat culpa eveniet odio vitae mollitia animi,
                sunt repellat, debitis quo, delectus odit porro deserunt cum at
                consequuntur hic quisquam laboriosam.</p>
</div>
<!-- Footer partials -->
<%- include('partials/footer.ejs') %>