<%- include('partials/head.ejs') %>

    <!-- navbar partials -->
    <%- include('partials/navbar.ejs') %>
        <div class="container">
            <h1>ERROR!!! <%= subreddit %> not found or does not exist</h1>
        </div>
        <!-- Footer partials -->
        <%- include('partials/footer.ejs') %>